@import "tailwindcss";

body {
  background-color: #0f172a;
  color: white;
  font-family: 'Poppins', sans-serif !important;
}

.p-divider.p-component::before {
  border-top: 1px solid rgba(253, 253, 253, 0.1);

}